<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440607721662-mrpjc6l92m6ca4nv8i79j1eu2uiadqga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440607721662-mrpjc6l92m6ca4nv8i79j1eu2uiadqga</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440607721662-jv0cgo22dhi1v6eluu5d7ot1jb6a2bn3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGoECGoLFjC7HAPnZRlfhh6dNXKuI_OK0</string>
	<key>GCM_SENDER_ID</key>
	<string>440607721662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khlasha.app</string>
	<key>PROJECT_ID</key>
	<string>khalasha-53a85</string>
	<key>STORAGE_BUCKET</key>
	<string>khalasha-53a85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440607721662:ios:01ccf20d7877c10b92f6ef</string>
</dict>
</plist>